@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    width: 0;
    height: 0;
}

/*header*/
header {
    display: list-item;
}
.barra-desconto{
    /*posicao*/
    position: absolute;
    width: 100vw;
    height: 38px;
    left: 0;
    top: 0;
    /*estilo*/
    background-color: #1CD1B0; 
}
.barra-desconto p {
    width: 124px;
    height: 18px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    
}

.titulo {
    position:absolute;
    height: 101px;
    width: 100vw;
    left: 0;
    top: 38px;
    /*estilo*/
    background-color: #00669F;
    box-shadow: 0px 10px 7px
    rgba(0, 0, 0, 0.25);
}
.titulo h1 {
    width: 224px;
    height: 47px;
    margin-left: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

/*main*/
main {
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
}

.deck{
    width: 100vw;
    margin-top: 150px;
}
.card{
    width: 374px;
    height: 597.01px;
    display: inline-block;
    margin: 100px;
    border-radius: 16px 16px 0px 0px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px
    rgba(0,0,0,0.25);
}
.banner{
    position: absolute;
    width: 373.57px;
    height: 218.94px;
}
.coracao {
    position: absolute;
    top: 6.25%;
    bottom: 6.25%;
}
.avatar {
    width: 135.43px;
    height: 135.43px;
    margin-left: 115px;
    margin-top: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius: 100px;

}

.card h2 {
    margin-top: 15px;
    margin-left: 90px;
    width: 192.99px;
    height: 39.5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}
.card p {
    width: 301.33px;
    height: 127.53px;
    padding: 8px;
    margin-left: 35px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
}

.card button {
    width: 145.34px;
    height: 54.76px;
    margin-left: 110px;
    margin-top: 15px;
    background-color: #00669F;
    margin-bottom: 100px;
}

/*footer*/
footer{
    
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 51px;


}

footer p {
    width: 299px;
    height: 19px;
    color: #FFF9F9;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    line-height: 19px;
}